@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');


/*****************  NAV BAR *****************/

.nav {
  color: red;
  text-align: center;
  background-color: gray;
  background-image: url("./images/hd-wallpaper-gfba78f985_1280.jpg");
  height: 100%;
  width: 100%;
}
.navButtonHdg, .navButtonHdg2, .navButton {
  color: black;
  background-color: rgba(184, 120, 37, 0.589);
  margin: 20px;
  height: 5vh;
  width: 5vh;
 
}
.navButtonHdg{
  /* color:rgb(49, 9, 76); */
  color:rgb(112, 6, 79);
  font-weight:300;
  font-size:.6em;
  margin-bottom: 10vh;
  background-color:rgba(241, 235, 186, 0.7);
  font-family: 'Petit Formal Script', cursive;
}

.navButton{
  font-size: 1.5em;

}

.outerNavButton1, .outerNavButton2{
  background-color:rgba(241, 235, 186, 0.7) ;
  /* font-family: 'Barlow', sans-serif; */
  font-weight: '900';
  
}
.outerNavButton1{
  margin-right: 66em;
  

}
/* .outerNavButton2{
  margin-right: 0em;
} */


/*****************   SNACK INDEX PAGE *****************/

.index {
  height: 100%;
  width: 100%;
  background-image: url("./images/brooke-lark-wMzx2nBdeng-unsplash\ 2.jpg");
  background-size: cover;
  /* grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr; */
}

.indexSnackList {
  font-family: 'Petit Formal Script', cursive;
  font-weight: bolder;
  font-size: 1.95em;
  text-align: center;
  background-color: rgba(184, 120, 37, 0.589);
  margin: 20px;
  margin-top: 0px;
}


/*****************  HOME PAGE *****************/

.home {
  height: 90vh;
  width: 100vw;
  background-image: url("./images/breakfast-g797c90361_1280.jpg");
  background-size: cover;
}

.homeBox{
  height:35vh;
  width: 52vw;
  border: 2.5px solid indigo;
  margin-left: 21.9em;
  text-align: center;
  background-color:rgba(135,206,235,.3)

}
.welcomeHdg{
  font-family: 'Petit Formal Script', cursive;
  font-size: 3em;
  font-weight: bolder;
  color:indigo;
  margin-top: .8em;
}

.welcomeMsg{
  font-size: 1.8em;
  color: indigo;
  font-weight: bold;
  font-style:italic;
}


/*****************  EDIT SNACK FORM *****************/

.editSnackHdg{
  text-align: center;
  color: antiquewhite;
  font-family: 'Petit Formal Script', cursive;
  font-size: 1.95em;
  font-weight: bold;
  margin-left: 20em;
}

.editSnackFormBox{
  margin-left: 35.5em;
  color: antiquewhite;
}

.edit {
  height: 90vh;
  width: 100vw;
  background-image: url("./images/ingredients-g3cb0d86d9_1280.jpg");
  background-size: cover;
}

input.editSubmitButton{
  color:antiquewhite;
  background-color: rgb(74, 41, 9);
}

input.editSubmitButton:hover {
  color:rgb(253, 249, 5);
  background-color: rgb(3, 42, 10);
}

.editCancelButton,.newCancelButton{
  color:black;
  background-color: rgb(241, 241, 25);
  margin-left: 11.2em;
}

.editCancelButton:hover, .newCancelButton:hover {
  background-color: maroon;
  color:white;
}
.editPencil{
  margin-left: 2em;
  font-size: 1.3em;
}

.editSnackFormBox, input[type=text]{
width: 24em;
}



/*****************  NEW SHOW Page *****************/

.show {
  height: 100%;
  width: 100%;
  background-image: url("./images/cover-g12f1b5082_640.jpg");
  background-size: cover;
}


/*****************  NEW SNACK FORM *****************/

.new {
  height: 90vh;
  width: 100%;
  background-image: url("./images/dinner-gb1bbed201_640.jpg");
  background-size: cover;
}

.newformHdg{
  margin-top: 2em;
  text-align: center;
  color: goldenrod;
  font-family: 'Petit Formal Script', cursive;
}

.newSnackFormBox{
  margin-left: 35.39em;
  color: goldenrod;
  background-color: rgba(39, 17, 3, .5);

}



input.newSubmitButton {
  color:antiquewhite;
  font-size: .9em;
  background-color: rgba(74, 41, 9, .2);
}
input.newSubmitButton:hover {
  color:rgb(253, 249, 5);
  background-color: rgb(3, 42, 10);
}



/***************** ERROR PAGE *****************/

.error {
  height: 80vh;
  width: 100vw;
  background-image: url("./images/ai-generated-gad8540c7a_1280.png");
  background-size: cover;
}

/*****************  SNACK ITEMS, SNACK CARDS *****************/

.foodImg {
  height: 35vh;
  width: 25vw;
  border: 2.5px solid black;
  margin-left: -1em;
}

.snackNameBox {
  color: rgb(110, 0, 0);
  font-size: 1.55em;
  margin: 10px;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  /* background-color: burlywood; */
  /* border: 3px solid darkgoldenrod; */
  justify-self: center;
  margin-left: .8em;
  margin-top:  -0.2em;
  padding-bottom: -.2em;
}

.snackCards {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.SnackDetails {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  height:87vh;
  width: 70vw;
}

.snackImageSideLink{
  height: 1vh;
  width: 1vh;
}

.snackNameSideLink{
  font-size: 3em;
  font-weight: bolder;
}

.snackSpec{
  font-size: 1em;
  font-weight: bolder;
}

/*****************  SNACK SHOW PAGE *****************/

.snackShowBoxHdg{
  color:brown;
  font-weight: bolder;
}
.snackShowBox{
  margin-top: 3em;
  margin-left: 10em;
  margin-right: 10em;
  background-color: rgba(250,235,215,.8);
  height:63vh;
  width: 34vw;
  border: 2px solid goldenrod;
}

.snackLinkBoxHdg{
  color:goldenrod;
  font-weight: 50;

}
.snackLinkBox{
  margin-top: 3em;
  background-color: rgba(3, 52, 3, .8);
  height:63vh;
  width: 34vw;
  border: 2px solid black;
}

/* .snackLinkData{
  margin-left: 2em;
} */

.heart2{
  color:yellow;
}
.redHeart, .blackHeart{
  font-size: 1.5em;
}
.blackHeart{
  background-color: rgba(245, 249, 21, 0.3);
  color: rgb(7, 3, 3);
  font-weight:900;
  border-radius: 50%;
}